* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url('./images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 300px;
  margin: 0 auto;
}

